{{define "dashboard"}}
{{template "header" .}}
<section class="dash-container">
    <div class="sidebar">
        <h3>Discover</h3>
        <div class="sidebar-links">
            <a href="#"><i class="fa-solid fa-spinner"></i>&emsp;Trending</a>
            <a href="#"><i class="fa-regular fa-clock"></i>&emsp;Latest</a>
            <a href="#"><i class="fa-regular fa-star"></i>&emsp;Top</a>
        </div>
        <h3>Categories</h3>
        <div class="side-categoies">
            {{range $category, $count := .Categories}}
                <a href="#"><i class="fa-solid fa-laptop-code"></i>&emsp;{{$category}}<span>{{$count}}</span></a>
            {{end}}
        </div>
    </div>
    <div class="posts">
        <h3>Latest discussions</h3>
        <p>Join the conversation and share your thoughts</p>

        {{range .Posts}}
        <div class="post-card" id="post-{{.ID}}">
            <div class="profile">
                <div class="avatar">
                    <i class="fa-regular fa-user"></i>
                    <div class="avatar-name">
                        <p>{{.Username}}</p> <!-- Display Username -->
                        <p>{{.CreatedAt}}</p>
                    </div>
                </div>
                <div class="category-tag">
                    <p>{{.Category}}</p>
                </div>
            </div>
            <div class="post">
                <h4>{{.Title}}</h4>
                <p>{{.Content}}</p>
                <div class="reaction">
                    <i class="fa-regular fa-thumbs-up"> 42</i>
                    <i class="fa-regular fa-thumbs-down"> 2</i>
                    <i class="fa-regular fa-message"> 12</i>
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
                {{if eq .UserID $.UserID}} <!-- Show options only for the post owner -->
                <div class="post-options">
                    <button class="edit-post-btn" data-id="{{.ID}}">Edit</button>
                    <form action="/delete-post?id={{.ID}}" method="POST" style="display: inline;">
                        <button type="submit" class="delete-post-btn">Delete</button>
                    </form>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</section>
<script src="/static/js/scripts.js"></script>
{{end}}
