{{define "view-post"}}
{{template "header" .}}
<section class="dash-container">
    <div class="sidebar">
        <h3>Discover</h3>
        <div class="sidebar-links">
            <a href="#"><i class="fa-solid fa-spinner"></i>&emsp;Trending</a>
            <a href="#"><i class="fa-regular fa-clock"></i>&emsp;Latest</a>
            <a href="#"><i class="fa-regular fa-star"></i>&emsp;Top</a>
        </div>
        <h3>Categories</h3>
        <div class="side-categoies">
            {{range $category, $count := .Categories}}
                <a href="#"><i class="fa-solid fa-laptop-code"></i>&emsp;{{$category}}<span>{{$count}}</span></a>
            {{end}}
        </div>
    </div>
    <div class="posts">
        <div class="post-header">
            <h3>{{.Post.Title}}</h3>
            <p>By <strong>{{.Post.Username}}</strong> in <strong>{{.Post.Category}}</strong></p>
            <p>Posted on {{.Post.CreatedAtHuman}}</p>
        </div>
        <div class="post-content">
            <p>{{.Post.Content}}</p>
        </div>
        <div class="post-footer">
            <h3>Comments</h3>
            <div class="comments">
                {{if .Comments}}
                    {{range .Comments}}
                    <div class="comment">
                        <p><strong>{{.Username}}</strong> says:</p>
                        <p>{{.Content}}</p>
                        <p class="comment-time">Posted on {{.CreatedAtHuman}}</p>
                    </div>
                    {{end}}
                {{else}}
                    <p>No comments yet. Be the first to comment!</p>
                {{end}}
            </div>
            <form action="/add-comment?post_id={{.Post.ID}}" method="POST" class="comment-form">
                <div class="form-group">
                    <label for="comment">Add a Comment:</label>
                    <textarea id="comment" name="comment" placeholder="Write your comment here" required></textarea>
                </div>
                <button type="submit" class="btn-submit">Post Comment</button>
            </form>
        </div>
    </div>
</section>
{{end}}
